<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>FAKE WEIBO</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">WB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/myWeibo">MyWeibo</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
   
      </div>
    
      <ul class="nav justify-content-end">
          <%  if(login != 1) { %>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } else {%>
          <li class="nav-item">
              <a class="nav-link" >Hi, <%= email%></a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
  
        <% }%>
      </ul>
  
    </nav>
     

    <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="content" rows="3" name = "content"></textarea>
          
        </div>
        <input type = "button"  class="btn btn-default" id = "postMessage" value = "Post"></input>
    </form>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
            
    <script>
        
    $(document).ready(function(){
    
    $("#postMessage").click(function(e) {
        var content =$("#content").val();
    
       var data = {};
       data.content = content;
      
    
            $.ajax({type:"POST",url:"/doPost",data: data,success:function(response){   
                        alert(response);
                        $(location).attr('href', '/'); 
                                    
                }
            });
       });
    });
       </script>
    <% for ( var i = 0; i < card.length; i++){ %>
    <div class="card">
    <div class="card-header">
      <%= card[i].author%>
    </div>
      <div class="card-body">
       <h5 class="card-title">Special title treatment</h5>
       <p class="card-text"><%= card[i].content%></p>
       <p class="card-text"><%= card[i].date%></p>
  
      </div>
    </div>
    <%}%>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>